<section class="centered-container">
  <app-section-header [heading]="list?.description ?? ''" buttonLabel="Edit" (buttonClickEvent)="handleEditClick()"/>
  <ul class="word-list-view__items">
    @for (item of wordsOrPhrases(); track $index) {
      <li (click)="handleWordClick(item.wordOrPhraseId)">
        @if (item.actor) {
          <span class="word-list-view__actor">{{item.actor}}</span>
        }
        <app-word-phrase-list-view [wordOrPhrase]="item.wordOrPhrase" />
      </li>
    }
  </ul>
</section>
