.word-list-view {
  &__actor {
    min-width: 100px;
    font-weight: 600;
  }
}

.word-list-view__items {
  li {
    display: flex;
    align-items: center;
    gap: 15px;
    app-word-phrase-list-view {
      width: 100%;
    }
  }
}