<section class="centered-container">
  <div class="list-edit-page">
    <form class="edit-form" [formGroup]="listFormGroup">
      <input type="hidden" formControlName="id" />
      
      <div class="edit-form__row">
        <label for="description">List Description</label>
        <input type="text" id="description" formControlName="description" />
        @if (hasError("description")) {
          <div class="form-error">A description is required</div>
        }
      </div>

      <div formArrayName="items">
        @for (item of items.controls; track $index) {
          <div [formGroupName]="$index" class="list-edit-page__item">
            <input
              formControlName="actor"
              className="list-edit-page__item-actor"
              placeholder="Actor"
            />
            <div class="list-edit-page__item-word-or-phrase">
              {{getWordOrPhraseDisplay(item)}}
            </div>
            <input
              type="button"
              value="Remove"
              (click)="removeItem($index)"
            />
          </div>
        }
      </div>

      <app-search [embedded]="true" (embeddedAddClickEvent)="handleAddClick($event)" />

      <div class="edit-form__buttons">
        <input type="button" value="Save" (click)="handleSubmit()"/>
        <input type="button" value="Cancel" (click)="handleCancel()"/>
        @if (!isAddMode()) {
          <input type="button" class="button--link" value="Delete" (click)="handleDelete()"/>
        }
      </div>
    </form>
  </div>
</section>
